<div class="productos">
  <a href="/ipad/12">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad12.png" />
    </div>
    <div>iPad Pro (3rd generation)</div>
    <span
      >Ipad 12 y Ipad 12 Pro incluyen problemas de tinte verde en la pantalla,
      alto consumo de batería en espera, pérdida de conectividad de red móvil,
      dispositivos Bluetooth que no aparecen o no están emparejados con el
      dispositivo, problemas de conectividad Wi-Fi y más.</span
    >
  </a>
  <a href="/Ipad12/12pro">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>iPad Pro (3rd generation)</div>

    <span
      >Ipad 12 y Ipad 12 Pro incluyen problemas de tinte verde en la pantalla,
      alto consumo de batería en espera, pérdida de conectividad de red móvil,
      dispositivos Bluetooth que no aparecen o no están emparejados con el
      dispositivo, problemas de conectividad Wi-Fi y más.</span
    >
  </a>
  <a href="/Ipad12/12pro">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>iPad Pro (5ta generation)</div>

    <span
      >Ipad 12 y Ipad 12 Pro incluyen problemas de tinte verde en la pantalla,
      alto consumo de batería en espera, pérdida de conectividad de red móvil,
      dispositivos Bluetooth que no aparecen o no están emparejados con el
      dispositivo, problemas de conectividad Wi-Fi y más.</span
    >
  </a>
  <a href="/Ipad12/12pro">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>iPad Pro (5ta generation)</div>

    <span
      >Ipad 12 y Ipad 12 Pro incluyen problemas de tinte verde en la pantalla,
      alto consumo de batería en espera, pérdida de conectividad de red móvil,
      dispositivos Bluetooth que no aparecen o no están emparejados con el
      dispositivo, problemas de conectividad Wi-Fi y más.</span
    >
  </a>

  {{!-- Ipad 11 --}}

  <a href="/Ipad12/11">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>iPad Pro (5ta generation)</div>

    <span
      >El Ipad 11 es idéntico al Ipad XR en cuanto a dimensiones generales y de
      pantalla. Introduce dos lentes en la cámara trasera (wide y ultra-wide).
      Numero de modelo Ipad 11: A2221</span
    >
  </a>
  <a href="/Ipad12/11">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>iPad Pro (3rd generation)</div>
    <span
      >El Ipad 11 es idéntico al Ipad XR en cuanto a dimensiones generales y de
      pantalla. Introduce dos lentes en la cámara trasera (wide y ultra-wide).
      Numero de modelo Ipad 11: A2221</span
    >
  </a>
  <a href="/Ipad12/11">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>iPad Pro (3rd generation)</div>

    <span>
      El Ipad 11 Pro max tiene dos versiones, con pantallas OLED de 5.8" y 6.5"
      y chasis de acero. Cuenta por primera vez con tres lentes en la cámara
      trasera (wide, ultra-wide y telephoto). Numero de modelo Ipad 11 Pro Max :
      A2218 Numero de modelo Ipad 11 Pro: A2215
    </span>
  </a>
  {{!-- Ipad X --}}
  <a href="/Ipad12/x">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>iPad Pro (3rd generation)</div>
    <span
      >El Ipad XR tiene una pantalla LCD de 6.1" y chasis de aluminio.
      Unicamente cuenta con una cámara trasera. Numero de modelo Ipad XR:
      A1984</span
    >
  </a>

  <a href="/Ipad12/x">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad XS</div>
    <span
      >Como el Ipad X, el Ipad XS y el XS Max cuentan con una gran pantalla sin
      marcos y un chasis de acero inoxidable y parte trasera de vidrio. Su
      reconocimiento de FaceID es más rápido, como su procesador. Numero de
      modelo Ipad XS Max: A1921 Numero de modelo Ipad XS: A1920</span
    >
  </a>
  <a href="/Ipad12/x">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad XS Max</div>
    <span
      >Como el Ipad X, el Ipad XS y el XS Max cuentan con una gran pantalla sin
      marcos y un chasis de acero inoxidable y parte trasera de vidrio. Su
      reconocimiento de FaceID es más rápido, como su procesador. Numero de
      modelo Ipad XS Max: A1921 Numero de modelo Ipad XS: A1920</span
    >
  </a>

  <a href="/Ipad12/x">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad X (Global)</div>
    <span
      >Como el Ipad X, el Ipad XS y el XS Max cuentan con una gran pantalla sin
      marcos y un chasis de acero inoxidable y parte trasera de vidrio. Su
      reconocimiento de FaceID es más rápido, como su procesador. Numero de
      modelo Ipad XS Max: A1921 Numero de modelo Ipad XS: A1920</span
    >
  </a>
  {{!-- ihphone 8 --}}
  <a href="/Ipad12/8">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad8.png" />
    </div>
    <div>Ipad 8 plus (Global)</div>
    <span
      >La parte trasera es de cristal, para poder incorporar la carga
      inalámbrica. Por lo demás, el exterior es similar a modelos anteriores.
      Numero de modelo Ipad 8: A1863 Nº de modelo Ipad 8 Plus: A1864</span
    >
  </a>

  <a href="/Ipad12/8">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad8.png" />
    </div>
    <div>Ipad 8 (Global)</div>
    <span
      >La parte trasera es de cristal, para poder incorporar la carga
      inalámbrica. Por lo demás, el exterior es similar a modelos anteriores.
      Numero de modelo Ipad 8: A1863 Nº de modelo Ipad 8 Plus: A1864</span
    >
  </a>
  {{!-- ihpone 7 --}}
  <a href="/Ipad12/8">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad 7 (Global)</div>
    <span
      >El primer Ipad resistente a salpicaduras gracias a certificación IP67. El
      Ipad 7 Plus además incorpora una doble cámara. Numero de modelo Ipad 7:
      A1778 Nº de modelo Ipad 7 Plus: A1786</span
    >
  </a>
  <a href="/Ipad12/8">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad SE</div>
    <span
      >El primer Ipad resistente a salpicaduras gracias a certificación IP67. El
      Ipad 7 Plus además incorpora una doble cámara. Numero de modelo Ipad 7:
      A1778 Nº de modelo Ipad 7 Plus: A1786</span
    >
  </a>
  <a href="/Ipad12/6">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad 6S+</div>
    <span
      >La pantalla incorpora tres niveles de respuesta a la presión "3D Touch".
      Cámaras de 12 Mpx y 5 Mpx. Disponible en color Oro Rosa. Número de modelo
      Ipad 6S: A1688 Número de modelo Ipad 6S Plus: A1687</span
    >
  </a>
  <a href="/Ipad12/6">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad 6S</div>
    <span
      >La pantalla incorpora tres niveles de respuesta a la presión "3D Touch".
      Cámaras de 12 Mpx y 5 Mpx. Disponible en color Oro Rosa. Número de modelo
      Ipad 6S: A1688 Número de modelo Ipad 6S Plus: A1687</span
    >
  </a>
  <a href="/Ipad12/6">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad 6</div>
    <span
      >Carcasa trasera de aluminio redondeado, tiene 4,7 pulgadas. La cámara
      trasera tiene una protuberancia que sobresale de la carcasa trasera.
      Número de modelo Ipad 6: A1549 Número de modelo Ipad 6 Plus: A1522</span
    >
  </a>
  <a href="/Ipad12/6">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad 6+</div>
    <span
      >Carcasa trasera de aluminio redondeado, tiene 4,7 pulgadas. La cámara
      trasera tiene una protuberancia que sobresale de la carcasa trasera.
      Número de modelo Ipad 6: A1549 Número de modelo Ipad 6 Plus: A1522</span
    >
  </a>

  <a href="/Ipad12/6">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad 5c(Global)</div>
    <span
      >Carcasa trasera de plástico disponible en 5 colores: blanco, rosa,
      amarillo, azul y verde. Número de modelo: A1507</span
    >
  </a>

  <a href="/Ipad12/4">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad3.png" />
    </div>
    <div>Ipad 5(Global)</div>
    <span
      >Pantalla de 4 pulgadas, carcasa trasera de aluminio y se introduce el
      conector de carga lightning. Número de modelo: A1429</span
    >
  </a>

  <a href="/Ipad12/4">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad3.png" />
    </div>
    <div>Ipad 4S</div>
    <span
      >Carcasa trasera plana y de cristal. Incorpora una cámara frontal y
      utiliza cable de carga 30 pines. Número de modelo Ipad 4: A1332 Número de
      modelo Ipad 4S: A1387
    </span>
  </a>
  <a href="/Ipad12/4">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad3.png" />
    </div>
    <div>Ipad 4</div>
    <span
      >Carcasa trasera plana y de cristal. Incorpora una cámara frontal y
      utiliza cable de carga 30 pines. Número de modelo Ipad 4: A1332 Número de
      modelo Ipad 4S: A1387</span
    >
  </a>

  <a href="/Ipad12/3">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad3.png" />
    </div>
    <div>Ipad 3G[S]</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo Ipad 3GS: A1303 Número
      de modelo Ipad 3G: A1241</span
    >
  </a>
  <a href="/Ipad12/3">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad 3G</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo Ipad 3GS: A1303 Número
      de modelo Ipad 3G: A1241</span
    >
  </a>
  <a href="/Ipad12/3">
    <div class="col_form">
      <img src="/img/apple/ipad/ipad.png" />
    </div>
    <div>Ipad 2G</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo Ipad 3GS: A1303 Número
      de modelo Ipad 3G: A1241</span
    >
  </a>
</div>
