<div class="productos">
  <a href="/iphone12/12pro">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone12pro.png" />
    </div>
    <div>IPhone 12 pro</div>
    <span>iPhone 12 y iPhone 12 Pro incluyen problemas de tinte verde en la pantalla, alto consumo de batería en espera, pérdida de conectividad de red móvil, dispositivos Bluetooth que no aparecen o no están emparejados con el dispositivo, problemas de conectividad Wi-Fi y más.</span>
  </a>
  <a href="/iphone12/12pro">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone12pro.png" />
    </div>
    <div>IPhone 12 pro Max</div>
    <span>iPhone 12 y iPhone 12 Pro incluyen problemas de tinte verde en la pantalla, alto consumo de batería en espera, pérdida de conectividad de red móvil, dispositivos Bluetooth que no aparecen o no están emparejados con el dispositivo, problemas de conectividad Wi-Fi y más.</span>
  </a>
  <a href="/iphone12/12pro">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone12pro.png" />
    </div>
    <div>IPhone 12 mini</div>
    <span>iPhone 12 y iPhone 12 Pro incluyen problemas de tinte verde en la pantalla, alto consumo de batería en espera, pérdida de conectividad de red móvil, dispositivos Bluetooth que no aparecen o no están emparejados con el dispositivo, problemas de conectividad Wi-Fi y más.</span>
  </a>
  <a href="/iphone12/12pro">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone12pro.png" />
    </div>
    <div>IPhone 12</div>
    <span>iPhone 12 y iPhone 12 Pro incluyen problemas de tinte verde en la pantalla, alto consumo de batería en espera, pérdida de conectividad de red móvil, dispositivos Bluetooth que no aparecen o no están emparejados con el dispositivo, problemas de conectividad Wi-Fi y más.</span>
  </a>

  {{!-- iphone 11 --}}

  <a href="/iphone12/11">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone11.png" />
    </div>
    <div>IPhone 11 pro</div>
    <span
      >El iPhone 11 es idéntico al iPhone XR en cuanto a dimensiones generales y
      de pantalla. Introduce dos lentes en la cámara trasera (wide y
      ultra-wide). Numero de modelo iPhone 11: A2221</span
    >
  </a>
  <a href="/iphone12/11">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone11.png" />
    </div>
    <div>IPhone 11</div>
    <span
      >El iPhone 11 es idéntico al iPhone XR en cuanto a dimensiones generales y
      de pantalla. Introduce dos lentes en la cámara trasera (wide y
      ultra-wide). Numero de modelo iPhone 11: A2221</span
    >
  </a>
  <a href="/iphone12/11">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone11.png" />
    </div>
    <div>IPhone 11 pro max</div>

    <span>
      El iPhone 11 Pro max tiene dos versiones, con pantallas OLED de 5.8" y
      6.5" y chasis de acero. Cuenta por primera vez con tres lentes en la
      cámara trasera (wide, ultra-wide y telephoto). Numero de modelo iPhone 11
      Pro Max : A2218 Numero de modelo iPhone 11 Pro: A2215
    </span>
  </a>
  {{!-- iphone X --}}
  <a href="/iphone12/x">
    <div class="col_form">
      <img src="/img/apple/iphone/iphonexs.png" />
    </div>
    <div>IPhone XR</div>
    <span
      >El iPhone XR tiene una pantalla LCD de 6.1" y chasis de aluminio.
      Unicamente cuenta con una cámara trasera. Numero de modelo iPhone XR:
      A1984</span
    >
  </a>
  <a href="/iphone12/x">
    <div class="col_form">
      <img src="/img/apple/iphone/iphonexs.png" />
    </div>
    <div>IPhone XS</div>
    <span
      >Como el iPhone X, el iPhone XS y el XS Max cuentan con una gran pantalla
      sin marcos y un chasis de acero inoxidable y parte trasera de vidrio. Su
      reconocimiento de FaceID es más rápido, como su procesador. Numero de
      modelo iPhone XS Max: A1921 Numero de modelo iPhone XS: A1920</span
    >
  </a>
  <a href="/iphone12/x">
    <div class="col_form">
      <img src="/img/apple/iphone/iphonexs.png" />
    </div>
    <div>IPhone XS Max</div>
    <span
      >Como el iPhone X, el iPhone XS y el XS Max cuentan con una gran pantalla
      sin marcos y un chasis de acero inoxidable y parte trasera de vidrio. Su
      reconocimiento de FaceID es más rápido, como su procesador. Numero de
      modelo iPhone XS Max: A1921 Numero de modelo iPhone XS: A1920</span
    >
  </a>

  <a href="/iphone12/x">
    <div class="col_form">
      <img src="/img/apple/iphone/iphonex.png" />
    </div>
    <div>IPhone X (Global)</div>
    <span
      >Como el iPhone X, el iPhone XS y el XS Max cuentan con una gran pantalla
      sin marcos y un chasis de acero inoxidable y parte trasera de vidrio. Su
      reconocimiento de FaceID es más rápido, como su procesador. Numero de
      modelo iPhone XS Max: A1921 Numero de modelo iPhone XS: A1920</span
    >
  </a>
  {{!-- ihphone 8 --}}
  <a href="/iphone12/8">
    <div class="col_form">
      <img src="/img/apple/iphone/iphonex.png" />
    </div>
    <div>IPhone 8 plus (Global)</div>
    <span
      >La parte trasera es de cristal, para poder incorporar la carga
      inalámbrica. Por lo demás, el exterior es similar a modelos anteriores.
      Numero de modelo iPhone 8: A1863 Nº de modelo iPhone 8 Plus: A1864</span
    >
  </a>

  <a href="/iphone12/8">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone8.png" />
    </div>
    <div>IPhone 8 (Global)</div>
    <span
      >La parte trasera es de cristal, para poder incorporar la carga
      inalámbrica. Por lo demás, el exterior es similar a modelos anteriores.
      Numero de modelo iPhone 8: A1863 Nº de modelo iPhone 8 Plus: A1864</span
    >
  </a>
  {{!-- ihpone 7 --}}
  <a href="/iphone12/8">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone8.png" />
    </div>
    <div>IPhone 7 (Global)</div>
    <span
      >El primer iPhone resistente a salpicaduras gracias a certificación IP67.
      El iPhone 7 Plus además incorpora una doble cámara. Numero de modelo
      iPhone 7: A1778 Nº de modelo iPhone 7 Plus: A1786</span
    >
  </a>
  <a href="/iphone12/8">
    <div class="col_form">
      <img src="/img/apple/iphone/iphones.png" />
    </div>
    <div>IPhone SE</div>
    <span
      >El primer iPhone resistente a salpicaduras gracias a certificación IP67.
      El iPhone 7 Plus además incorpora una doble cámara. Numero de modelo
      iPhone 7: A1778 Nº de modelo iPhone 7 Plus: A1786</span
    >
  </a>
  <a href="/iphone12/6">
    <div class="col_form">
      <img src="/img/apple/iphone/iphones.png" />
    </div>
    <div>IPhone 6S+</div>
    <span
      >La pantalla incorpora tres niveles de respuesta a la presión "3D Touch".
      Cámaras de 12 Mpx y 5 Mpx. Disponible en color Oro Rosa. Número de modelo
      iPhone 6S: A1688 Número de modelo iPhone 6S Plus: A1687</span
    >
  </a>
  <a href="/iphone12/6">
    <div class="col_form">
      <img src="/img/apple/iphone/iphones.png" />
    </div>
    <div>IPhone 6S</div>
    <span
      >La pantalla incorpora tres niveles de respuesta a la presión "3D Touch".
      Cámaras de 12 Mpx y 5 Mpx. Disponible en color Oro Rosa. Número de modelo
      iPhone 6S: A1688 Número de modelo iPhone 6S Plus: A1687</span
    >
  </a>
  <a href="/iphone12/6">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone6.png" />
    </div>
    <div>IPhone 6</div>
    <span
      >Carcasa trasera de aluminio redondeado, tiene 4,7 pulgadas. La cámara
      trasera tiene una protuberancia que sobresale de la carcasa trasera.
      Número de modelo iPhone 6: A1549 Número de modelo iPhone 6 Plus:
      A1522</span
    >
  </a>
  <a href="/iphone12/6">
    <div class="col_form">
      <img src="/img/apple/iphone/iphones.png" />
    </div>
    <div>IPhone 6+</div>
    <span
      >Carcasa trasera de aluminio redondeado, tiene 4,7 pulgadas. La cámara
      trasera tiene una protuberancia que sobresale de la carcasa trasera.
      Número de modelo iPhone 6: A1549 Número de modelo iPhone 6 Plus:
      A1522</span
    >
  </a>

  <a href="/iphone12/6">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone5.png" />
    </div>
    <div>IPhone 5c(Global)</div>
    <span
      >Carcasa trasera de plástico disponible en 5 colores: blanco, rosa,
      amarillo, azul y verde. Número de modelo: A1507</span
    >
  </a>

  <a href="/iphone12/4">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone6.png" />
    </div>
    <div>IPhone 5(Global)</div>
    <span
      >Pantalla de 4 pulgadas, carcasa trasera de aluminio y se introduce el
      conector de carga lightning. Número de modelo: A1429</span
    >
  </a>

  <a href="/iphone12/4">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone4.png" />
    </div>
    <div>IPhone 4S</div>
    <span
      >Carcasa trasera plana y de cristal. Incorpora una cámara frontal y
      utiliza cable de carga 30 pines. Número de modelo iPhone 4: A1332 Número
      de modelo iPhone 4S: A1387
    </span>
  </a>
  <a href="/iphone12/4">
    <div class="col_form">
      <img src="/img/apple/iphone/iphone4.png" />
    </div>
    <div>IPhone 4</div>
    <span
      >Carcasa trasera plana y de cristal. Incorpora una cámara frontal y
      utiliza cable de carga 30 pines. Número de modelo iPhone 4: A1332 Número
      de modelo iPhone 4S: A1387</span
    >
  </a>

  <a href="/iphone12/3">
    <div class="col_form">
      <img src="/img/apple/iphone/iphon3.png" />
    </div>
    <div>IPhone 3G[S]</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo iPhone 3GS: A1303 Número
      de modelo iPhone 3G: A1241</span
    >
  </a>
  <a href="/iphone12/3">
    <div class="col_form">
      <img src="/img/apple/iphone/iphon3.png" />
    </div>
    <div>IPhone 3G</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo iPhone 3GS: A1303 Número
      de modelo iPhone 3G: A1241</span
    >
  </a>
  <a href="/iphone12/3">
    <div class="col_form">
      <img src="/img/apple/iphone/iphon3.png" />
    </div>
    <div>IPhone 2G</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo iPhone 3GS: A1303 Número
      de modelo iPhone 3G: A1241</span
    >
  </a>
</div>
