<div class="productos">
  <a href="/ipod/4">
    <div class="col_form">
      <img src="https://ipsw.me/assets/devices/AudioAccessory5,1.png" />
    </div>
    <div>Home pod</div>
    <span
      >Pantalla de 4 pulgadas, carcasa trasera de aluminio y se introduce el
      conector de carga lightning. Número de modelo: A1429</span
    >
  </a>

  <a href="/ipod/4">
    <div class="col_form">
      <img src="https://ipsw.me/assets/devices/iipod21,2.png" />
    </div>
    <div>ipod 4S</div>
    <span
      >Carcasa trasera plana y de cristal. Incorpora una cámara frontal y
      utiliza cable de carga 30 pines. Número de modelo ipod 4: A1332 Número de
      modelo ipod 4S: A1387
    </span>
  </a>
  <a href="/ipod/4">
    <div class="col_form">
      <img src="https://ipsw.me/assets/devices/AudioAccessory1,2.png" />
    </div>
    <div>home pod</div>
    <span
      >Carcasa trasera plana y de cristal. Incorpora una cámara frontal y
      utiliza cable de carga 30 pines. Número de modelo ipod 4: A1332 Número de
      modelo ipod 4S: A1387</span
    >
  </a>

  <a href="/ipod/4">
    <div class="col_form">
      <img src="https://ipsw.me/assets/devices/iPod5,1.png" />
    </div>
    <div>ipod 3G[S]</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo ipod 3GS: A1303 Número
      de modelo ipod 3G: A1241</span
    >
  </a>
  <a href="/ipod/4">
    <div class="col_form">
          <img src="https://ipsw.me/assets/devices/iPod5,1.png" />

    </div>
    <div>ipod 3G</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo ipod 3GS: A1303 Número
      de modelo ipod 3G: A1241</span
    >
  </a>
  <a href="/ipod/4">
    <div class="col_form">
      <img src="https://ipsw.me/assets/devices/iPod5,1.png" />
    </div>
    <div>ipod 2G</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo ipod 3GS: A1303 Número
      de modelo ipod 3G: A1241</span
    >
  </a>
</div>
