<div class="productos">
  <a href="/mac/4">
    <div class="col_form">
      <img src="https://ipsw.me/assets/devices/iMac21,2.png" />
    </div>
    <div>Ipad 5(Global)</div>
    <span
      >Pantalla de 4 pulgadas, carcasa trasera de aluminio y se introduce el
      conector de carga lightning. Número de modelo: A1429</span
    >
  </a>

  <a href="/mac/4">
    <div class="col_form">
      <img src="https://ipsw.me/assets/devices/iMac21,2.png" />
    </div>
    <div>Ipad 4S</div>
    <span
      >Carcasa trasera plana y de cristal. Incorpora una cámara frontal y
      utiliza cable de carga 30 pines. Número de modelo Ipad 4: A1332 Número de
      modelo Ipad 4S: A1387
    </span>
  </a>
  <a href="/mac/4">
    <div class="col_form">
      <img src="https://ipsw.me/assets/devices/Macmini9,1.png" />
    </div>
    <div>Ipad 4</div>
    <span
      >Carcasa trasera plana y de cristal. Incorpora una cámara frontal y
      utiliza cable de carga 30 pines. Número de modelo Ipad 4: A1332 Número de
      modelo Ipad 4S: A1387</span
    >
  </a>

  <a href="/mac/4">
    <div class="col_form">
      <img src="https://ipsw.me/assets/devices/Macmini9,1.png" />
    </div>
    <div>Ipad 3G[S]</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo Ipad 3GS: A1303 Número
      de modelo Ipad 3G: A1241</span
    >
  </a>
  <a href="/mac/4">
    <div class="col_form">
          <img src="/img/apple/mac/mac4.png" />

    </div>
    <div>Ipad 3G</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo Ipad 3GS: A1303 Número
      de modelo Ipad 3G: A1241</span
    >
  </a>
  <a href="/mac/4">
    <div class="col_form">
      <img src="/img/apple/mac/mac4.png" />
    </div>
    <div>Ipad 2G</div>
    <span
      >Carcasa trasera curva y de plástico negro. El chasis es redondeado y
      utiliza cable de carga 30 pines. Número de modelo Ipad 3GS: A1303 Número
      de modelo Ipad 3G: A1241</span
    >
  </a>
</div>
