<footer id="contacto">
  <div class="div-footer">
    <div class="h7">Contact Us</div>
    <br />
    <div class="correo">
      <a class="direccion">
        <i class="far fa-envelope fa-lg"></i>
      </a>
      <span>kevincanchari12z@gmail.com</span>
    </div>
    <br />
    <br />
  </div>
  <div id="siguenos">
    <div class="h7">Oficinas</div>
    <div class="h7">
      <i class="fas fa-phone-alt fa-1x"></i>
      +51 99 169 6266
    </div>
  </div>
  <div>
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d1991397.2636407572!2d-76.74457452049104!3d-12.878903190879884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d-12.0515179!2d-77.02190139999999!4m5!1s0x91127d15627d145f%3A0xec665e934c16649c!2sgreen%20apple%20ayacucho!3m2!1d-13.1578789!2d-74.2246804!5e0!3m2!1ses-419!2spe!4v1626204883126!5m2!1ses-419!2spe"
        width="600"
        height="450"
        style="border:0;height: 9rem;width: 24rem;"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</footer>