<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Nuevo Articulo</h3>
    </div>
    <div class="card-body">
      <form
        action="/notes/productos/add/{{id}}"
        method="POST"
        class="form-control"
      >
        <div class="mb-3">
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="title"
            autofocus
          />
        </div>
        <div class="mb-3">
          <textarea
            name="description"
            class="form-control"
            placeholder="description"
          ></textarea>
        </div>
        <div class="mb-3">
          <input
            type="number"
            name="precio"
            class="form-control"
            placeholder="precio"
          />
        </div>
         <div class="mb-3">
          <input
            type="number"
            name="cant"
            class="form-control"
            placeholder="Cantidad por defecto 0"
          />
        </div>
        <div class="mb-3">
          <button class="save btn btn-primary btn-lg" type="submit">Añadir
          </button>
        </div>
      </form>
    </div>
  </div>
</div>