<div class="row row_rw sing">
  <div class="col">
    <div class="card text-center in">
      <div class="card-header">
        INICIA SESION
      </div>
    <img src="/img/manzana.jpg" class="rounded-circle mx-auto d-block logo m-4" alt="logo"></img>
    <div class="card-body">
      <form 
        action="/user/singin"
        method="POST"
       class="row-1">
        <div class="col-auto m-2">
          <input type="email"
          class="form-control" id="exampleFormControlInput1"
          name="email"
          placeholder="name@example.com"    
          >
        </div>
        <div class="col-auto m-2">
          <input type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          >
        </div>
        <div class="col-auto m-2">
        <button type="submit" class="btn btn-primary mb-3 btn-up">Sing In</button>
        </div>
      </form>      
    </div>
    </div>
</div>  